<?xml version="1.0" encoding="UTF-8"?>
<phpunit 
    bootstrap                   = "./src/o0o/PhantomJs/Tests/bootstrap.php" 
    backupGlobals               = "false"
    backupStaticAttributes      = "false"
    colors                      = "true"
    convertErrorsToExceptions   = "true"
    convertNoticesToExceptions  = "true"
    convertWarningsToExceptions = "true"
    processIsolation            = "false"
    stopOnFailure               = "true"
    syntaxCheck                 = "false">
    <testsuites>
        <testsuite name="PhantomJS Test Suite">
            <directory suffix="Test.php">./src/o0o/PhantomJs/Tests/*</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">./src/</directory>
            <exclude>
                <directory>./src/o0o/PhantomJs/Tests</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
